<!DOCTYPE html>
<html>
  <head>
    <title>Box Page</title>
    <link rel="stylesheet" type="text/css" href="kiosk.css" />
  </head>
  <body>
    <div class="head">s</div>
    <div>
      <table>
        <tr>
          <th>Header 1</th>
          <th>Header 2</th>
        </tr>
        <tr>
          <td>Data 1</td>
          <td>Data 2</td>
        </tr>
        <tr>
          <td>Data 3</td>
          <td>Data 4</td>
        </tr>
        <tr>
          <td>Data 5</td>
          <td>Data 6</td>
        </tr>
        <tr>
          <td>Data 7</td>
          <td>Data 8</td>
        </tr>
      </table>
    </div>
  </body>
</html>
